</header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo" href="{{ site.baseurl }}/{{ page.lang }}/">{{ site.title }}</a>
        <ul class="right hide-on-med-and-down">
          {% assign pages = site.pages | where:"lang", page.lang %}
          {% for menuPage in pages %}
            {% if menuPage.title %}
              {% if menuPage.name == page.name %}
                <li class="active"><a href="{{ menuPage.url | prepend: site.baseurl }}">{{ menuPage.title }}</a></li>
              {% else %}
                <li><a href="{{ menuPage.url | prepend: site.baseurl }}">{{ menuPage.title }}</a></li>
              {% endif %}
            {% endif %}
          {% endfor %}

          {% assign translations = site.pages | where:"uname", page.uname %}
          {% for translation in translations %}
            {% if translation.lang and translation.lang != page.lang %}
              <li><a href="{{ translation.url | prepend: site.baseurl }}">{{ translation.lang }}</a></li>
            {% endif %}
          {% endfor %}

          {% assign translations = site.posts | where:"uname", page.uname %}
          {% for translation in translations %}
            {% if translation.lang and translation.lang != page.lang %}
              <li><a href="{{ translation.url | prepend: site.baseurl }}">{{ translation.lang }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </nav>
  </div>
</header>
